/* Namari Landing Page Dynamic Style Index

1. Website Default Styling
2. Navigation
3. Primary and Secondary Colors
4. Banner
5. Typography
6. Buttons
7. Footer


/*------------------------------------------------------------------------------------------*/
/* 1. Website Default Styling */
/*------------------------------------------------------------------------------------------*/

:root {
    --header: #fff;
    --primary: #1bc5cf;
    --secondary: #fff;
    --normal-text: #111;
    --header-text: #333;
    /* #cccccc; */
    --banner-text: #1bc5cf;
    --section-title: #1bc5cf;
    /* --section-subtitle: #66635B; */
    --section-subtitle: #333;
    --link: #111;
    --link-hover-active: #1bc5cf;
    --border: #f5f5f5ff;
    --footer-text: #777;
}

body {
    background: #fff;
}


/* Default Link Color */

a,
.la-ball-triangle-path {
    color: var(--primary);
}

a:hover,
#header.nav-solid nav a:hover {
    color: var(--primary);
}

/* Default Icon Color */

.icon i {
    color: var(--primary);
}

/* Border Color */

#banner .section-heading:before,
.testimonial.classic footer:before {
    background: var(--primary);
}

#main-heading {
    text-shadow: 2px 0 var(--header), -2px 0 var(--header), 0 2px var(--header), 0 -2px var(--header),
        1px 1px var(--header), -1px -1px var(--header), 1px -1px var(--header), -1px 1px var(--header);
}

.pricing-block-content:hover {
    border-color: var(--primary);
}


/*------------------------------------------------------------------------------------------*/
/* 2. Navigation */
/*------------------------------------------------------------------------------------------*/


/* Transparent Navigation Color on a Banner */

#header nav a,
#header i {
    color: #111;
}

#header nav a:hover,
#header i:hover,
#header.nav-solid a:hover,
#header.nav-solid i:hover {
    color: var(--link-hover-active);
    /*var(--header-text);*/
}

/* Navigation Colors when the Navigation is sticky and solid */

#header.nav-solid,
#header.nav-solid a,
#header.nav-solid i,
#nav-mobile ul li a {
    /* color: #333; */
    color: #111;
}


/* Navigation Active State */

#header.nav-solid .active {
    color: var(--primary);
    border-color: var(--primary);
}



/*------------------------------------------------------------------------------------------*/
/* 3. Primary and Secondary Colors */
/*------------------------------------------------------------------------------------------*/


/* Primary Background and Text Colors */

.primary-color,
.featured .pricing {
    background-color: var(--primary);
}

.primary-color,
.primary-color .section-title,
.primary-color .section-subtitle,
.featured .pricing,
.featured .pricing p {
    /* color: #fff; */
    background-color: var(--secondary);
}

.section-heading h2:after {
    background: var(--primary);
    content: "";
    display: block;
    width: 30px;
    height: 5px;
    margin-top: 30px;
}

.text-center .section-heading h2:after {
    margin: 30px auto 25px auto;
}

/* Primary Icon Colors */

.primary-color .icon i,
.primary-color i {
    color: #fff;
}


/* Secondary Background and Text Colors */

.secondary-color {
    background-color: var(--header-text);
}


/*------------------------------------------------------------------------------------------*/
/* 4. Banner */
/*------------------------------------------------------------------------------------------*/


/* Banner Background and Text Colors */

#banner {
    /* background: url("../images/banner-images/prepared.jpg") no-repeat center top; */
    background-image: url("../images/banner-images/banner_gradient.png");
    background-size: cover;
    /* animation: 12s autoplay1 infinite; */
}

/* @keyframes autoplay1 {
    0% {
        background-image: url("../images/banner-images/prepared.jpg");
    }

    32% {
        background-color: rgba(0, 0, 0, 0.33);
    }

    33% {
        background-image: url("../images/banner-images/banner.jpeg");
    }

    66% {
        background-color: rgba(0, 0, 0, 0.66);
    }

    67% {
        background-image: url("../images/banner-images/banner-image-1.jpg");
    }

    100% {
        background-color: rgba(0, 0, 0, 1);
    }
} */

/* @keyframes autoplay1 {
    0% {
        background-image: url("../images/banner-images/prepared.jpg");
    }

    17% {
        background-image: url("../images/banner-images/prepared.jpg");
    }

    33% {
        background-color: rgba(0, 0, 0, 0.33);
    }

    34% {
        background-image: url("../images/banner-images/banner.jpeg");
    }

    50% {
        background-image: url("../images/banner-images/banner.jpeg");
    }

    66% {
        background-color: rgba(0, 0, 0, 0.66);
    }

    67% {
        background-image: url("../images/banner-images/banner-image-1.jpg");
    }

    84% {
        background-image: url("../images/banner-images/banner-image-1.jpg");
    }

    99% {
        background-color: rgba(0, 0, 0, 1);
    }

    100% {
        background-image: url("../images/banner-images/prepared.jpg");
    }
} */

/*------------------------------------------------------------------------------------------*/
/* 5. Typography */
/*------------------------------------------------------------------------------------------*/


body {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 15px;
    font-weight: normal;
    color: #111;
}

/* Logo, if you are using Fonts as Logo and not image

#logo h1 {
    font-family:;
    font-size:; 
    font-weight:;
    color:;
}

#logo h2 {
    font-family:;
    font-size:; 
    font-weight:;
    color:;
}

*/


/* Banner Typography */

#banner h1 {
    /* font-family: 'Open Sans', sans-serif, Arial, Helvetica; */
    font-family: 'Pacifico', arial, sans-serif;
    font-size: 62px;
    line-height: 60px;
    font-weight: 200;
    /* color: #111; */
    color: var(--primary);
}

#banner h2 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 18px;
    font-weight: 600;
    color: var(--header);
}


/* Section Title and Subtitle */

.section-title {
    /* font-family: 'Open Sans', sans-serif, Arial, Helvetica; */
    font-family: 'Pacifico', arial, sans-serif;
    font-size: 34px;
    font-weight: 200;
    /* color: #111; */
    color: var(--primary);
}

.section-subtitle {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px;
    /* font-weight: 300; */
    font-weight: 600;
    font-style: italic;
    /* color: var(--section-subtitle); */
    color: var(--section-title);
}

/* Testimonial */

.testimonial q {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 17px;
    font-weight: 300;
}

.testimonial.classic q,
.testimonial.classic footer {
    color: #111;
}


/* Standard Headings h1-h6 */

h1 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 40px;
    font-weight: 300;
    color: #111;
}

h2 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 34px;
    font-weight: 300;
    color: #111;
}

h3 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 30px;
    font-weight: 700;
    color: #111;
}

h4 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 18px;
    font-weight: 400;
    color: #111;
}

h5 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px;
    font-weight: 400;
    color: #111;
}

h6 {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 14px;
    font-weight: 400;
    color: #111;
}


/*------------------------------------------------------------------------------------------*/
/* 6. Buttons */
/*------------------------------------------------------------------------------------------*/

/* ----------Default Buttons---------- */


/* Button Text */

.button,
input[type="submit"] {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 14px;
    font-weight: bold;
    /* color: #111; */
    color: var(--link);
}


/* Button Color */

.button,
input[type="submit"] {
    /* border-color: #111; */
    border-color: var(--link);
}


/* Button Hover Color */

.button:hover,
input[type="submit"]:hover {
    border-color: var(--primary);
    color: var(--primary);
}


/* ----------Banner Buttons---------- */


/* Button Text */

#banner .button {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 16px;
    /* color: #111; */
    color: var(--secondary);
}


/* Button Color */

#banner .button {
    /* border-color: #111; */
    border-color: var(--secondary);
}


/* Button Hover Color */

#banner .button:hover {
    color: var(--primary);
    border-color: var(--primary);
}


/*------------------------------------------------------------------------------------------*/
/* 7. Footer */
/*------------------------------------------------------------------------------------------*/

#landing-footer,
#landing-footer p,
#landing-footer a {
    font-family: 'Open Sans', sans-serif, Arial, Helvetica;
    font-size: 12px;
    font-weight: normal;
    /* color: #999; */
    color: var(--footer-text);
}

/* Footer Icon Color */

#landing-footer i {
    /* color: #999; */
    color: var(--footer-text);
}

#calendar {
    width: 100%;
}